
.Genuine{
	background-color:#4D7455;
}

.Vintage{
	background-color:#476291;
}

.Unusual{
	background-color:#8650AC;
}

.Unique{
	background-color:#FFD700;
}

.Community{
	background-color:#70B04A;
}

.Self-Made{
	background-color:#70B04A;
}

.Strange{
	background-color:#CF6A32;
}

.Haunted{
	background-color:#38F3AB;
}
.Normal{
	background-color:#B2B2B2;
}
.Collectors{
	background-color:#AA0000;
}
.Decorated{
	background-color:#FAFAFA;
}
.Valve{
	background-color:#A50F79;
}
.Not_Tradable {
   background-color:red;
}
.Not_Craftable{
   padding: 20px;
   margin: 10px;
   color: #fff;
   font-size: 21px;
   font-weight: bold;
   line-height: 1.3em;
   border: 2px dashed #fff;
   border-radius: 10px;
   font-weight: normal;
}
a:active  { }
